.sectionhobbie {
  margin: 0 8px 5px 8px;
}

.hobbie {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 2px solid #000;
  border-radius: 3px;
  box-shadow: 2px 2px 3px #000;
}

.hobbie h2 {
  text-align: center;
}

.boximg {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.boximg img {
  margin: auto;
  text-align: center;
}
