
<section>
  <ul id="boxtags" class="list-inline col-lg-12">
    <li class="tag list-inline-item"
        *ngFor="let hobbie of datos" (click)="scrollTo(hobbie.id)">
        {{ hobbie.title }}

      <!--
      <a [href]="['/hobbies'] + '#' + hobbie.id" [title]="hobbie.title" target="_self">
        {{ hobbie.title }}
      </a>
      -->
    </li>
  </ul>
</section>

<section class="sectionhobbie" *ngFor="let hobbie of datos">
  <article [id]="hobbie.id" class="hobbie row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        {{ hobbie.title }},
        <span class="text-muted"> {{ hobbie.subtitle }}</span>
      </h2>
    </div>

    <div class="boximg col-md-5">
      <img class="featurette-image img-fluid mx-auto" [alt]="hobbie.alt" [src]="hobbie.img" />
    </div>

    <div class="col-md-12">
      <p class="lead" *ngFor="let description of hobbie.description">
        {{ description }}
      </p>
    </div>
  </article>

  <hr class="featurette-divider" />
</section>
