SECTION ARTICLE H2 {
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    min-width: 300px;
    max-width: 800px;
    min-height: 50px;
    color: white;
    text-align: center;
    font-size: 2.4em;
    font-family: robotoSlab;
    background-color: #2c1b3f;
    border-radius: 50px;
    text-shadow:
    1px 1px 1px #10d1ff,
    1px -1px 1px #10d1ff,
    -1px 1px 1px #10d1ff,
    -1px -1px 1px #10d1ff;
}
.cajaContenido {
    margin: auto;
    margin-top: 40px;
    min-width: 300px;
    max-width: 800px;
    min-height: 460px;
    text-align: center;
    background-color: #2c1b3f;
    border-radius: 60px;
}
.cajaEntrada {
    display: inline-block;
    vertical-align: top;
    margin: auto;
    padding-top: 20px;
    width: 250px;
    height: 420px;
}
.imagenEntrada {
    margin: auto;
    width: 230px;
    height: 200px;
}
.detallesEntrada {
    margin: auto;
    margin-top: 10px;
    padding-top: 3px;
    width: 230px;
    min-height: 200px;
    background-image: url("../images/fondoDetalles.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.detallesEntrada HR {
    margin: 0 auto;
    width: 90%;
    height: 6px;
    background-color: black;
    border: none;
    border-radius: 10px;
}
.enlaceEntrada {
    color: red;
    text-decoration: none;
    font-size: 1.2em;
    font-family: vollkorn;
}
.detallesEntrada P {
    padding: 0 12px;
    text-align: left;
    font-family: utopia;
    line-height: 1.2em;
    }
