/*--------------------------------
FUENTES
---------------------------------*/
@font-face {font-family:robotoSlab;
src: url(../fonts/robotoSlab.ttf) format("opentype");}

@font-face {font-family:urwBookmanL;
src: url(../fonts/urwBookmanL.ttf) format("opentype");}

@font-face {font-family:utopia;
src: url(../fonts/utopia.ttf) format("opentype");}

@font-face {font-family:vindictive;
src: url(../fonts/vindictive.ttf) format("opentype");}

@font-face {font-family:vollkorn;
src: url(../fonts/vollkorn.ttf) format("opentype");}
/*--------------------------------
---------------------------------*/

* {
	margin: 0;
	padding: 0;
}
H1 {
	text-align: center;
	font-size: 1em;
	color: #2c1b3f;
}
H3 {
	font-size: 1.4em;
	font-family: vollkorn;
}

.A_sinDecorar {
	text-decoration: none;
	color: #2c1b3f;
}

.separador {
	margin: 20px auto;
	height: 6px;
	min-width: 300px;
	max-width: 800px;
	background-color: #75939a;
	border: none;
	border-radius: 5px;
}

.cajaMiniLogo {
	position: absolute;
	width: 100%;
	z-index: 100;
}
.miniLogo {
	margin: auto;
	margin-top: -25px;
	width: 90px;
	height: 90px;
	background-image: url("../images/miniLogo.png");
	background-repeat: no-repeat;
	background-size: contain;
	transition: 1s;
}
.miniLogo:hover {
	margin-top: -40px;
	width: 120px;
	height: 120px;
	transition: 2s;
}
