* {
	margin: 0;
}
#titulo {
	margin: 5px 0;
	padding: 5px 0;
	width: 100%;
	color: lightgray;
	background-color: slategray;
	text-align: center;
	text-shadow: 3px 3px 3px black;
	border-top: 3px black groove;
	border-bottom: 3px black groove;
}
#cajaContenido {
	margin: 10px auto;
	padding: 20px;
	min-width: 400px;
	max-width: 1000px;
	background-color: black;
	border: 2px orange solid;
}
.boton {
	margin: 0 auto 15px auto;
	width: 70%;
	align-content: center;
	vertical-align: middle;
	background-color: dodgerblue;
	border: 3px black solid;
	border-radius: 20px;
}
.boton A {
	align-content: center;
	text-align: center;
	vertical-align: middle;
	color: black;
	text-align: center;
}
.boton A:hover {
	color: yellow;
}
.boton A:link {
	color: olivedrab;
}
.boton H2 {
	align-content: center;
	vertical-align: middle;
	align-items: center;
	align-self: center;
	text-align: center;
	color: black;
	background-color:yellow;
	margin: 4px;
	border: 2px black groove;
	border-radius: 20px;
}
.boton H2:hover {
	color: yellow;
	background-color:black;
}
.cajaWebsCreadas {
	display: flex;
	align-content: center;
	align-items: center;
	text-align: center;
	vertical-align: middle;
	align-self: center;
}
.webCreada {
	margin: 1px 3px;
	padding: 2px;
	background-color: slategray;
	height: 400px;
	border-radius: 8px;
	align-content: center;
	align-items: center;
	align-self: center;
	text-align: center;
	vertical-align: middle;
	flex: 1;
	color: white;
}
.webCreada H3 {
	color: white;
	text-shadow: 3px 3px 3px black;
	text-decoration: none;
}
.webCreada A {
	color: white;
	text-decoration: none;
}
.webCreada A:hover {
	color: orangered;
}
#CajaFooter {
	margin: 10px 0;
	padding: 10px 0;
	width: 100%;
	color: lightgrey;
	font-size: 1.2em;
	text-align: center;
	vertical-align: middle;
	background-color: slategray;
	border-top: 3px black groove;
	border-bottom: 3px black groove;
}
