#binario {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
    height: 17px;
    overflow: hidden;
    text-align: center;
    font-size: 13px;
    font-weight: bolder;
    color: greenyellow;
    background-color: black;
}

#titulo {
    min-height: 60px;
    color: white;
    text-align: center;
    background: #2c1b3f;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

#subtitulo {
    margin: auto;
    margin-top: 40px;
    min-width: 300px;
    max-width: 800px;
}
#subtitulo IMG {
    width: 100%;
}

#presentacion {
    margin-top: 20px;
    text-align: center;
    font-family: urwBookmanL;
    font-weight: bolder;
    font-size: 1.2em;
    text-shadow:
    1px 1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    -1px -1px 1px black;
}
