#navegacion {
    position: fixed;
    margin: 0;
    padding: 0;
    top: -2px;
    text-align: center;
    width: 100%;
    background-color: black;
}

#navegacion IMG {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

@media (max-width: 480px) {
    #navegacion IMG {
        display: none;
    }
}

#navegacion UL {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#navegacion UL LI {
    display: inline-block;
    text-align: center;
    padding: 10px 2px;
    margin: 0;
    color: #cafcfc;
    border-left: 1px solid #87a8a8;
    border-right: 1px solid #87a8a8;
}

#navegacion UL LI:hover {
    background-color: #435454;
    color: white;
}

#binario {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
    height: 17px;
    overflow: hidden;
    text-align: center;
    font-size: 13px;
    font-weight: bolder;
    color: greenyellow;
    background-color: black;
}

#titulo {
    margin-top: 60px;
    text-align: center;
    font-size: 3em;
    color: #87a8a8;
    text-shadow:
        2px 2px 3px black,
        1px 0 2px black,
        -1px -1px 2px black,
        -1px 0 2px black;

}

#subtitulo {
    text-align: center;
    color: #435454;
    text-shadow: 1px 1px 1px black;
}

#portada {
    margin: auto;
    margin-top: 40px;
    min-width: 300px;
    max-width: 800px;
}

#portada IMG {
    width: 100%;
}

#presentacion {
    margin-top: 20px;
    text-align: center;
    font-family: urwBookmanL;
    font-weight: bolder;
    font-size: 1.2em;
    text-shadow:
    1px 1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    -1px -1px 1px black;
}
