#binario {
	margin-top: 3px;
	margin-bottom: 3px;
	width: 100%;
	height: 17px;
	text-align: center;
	font-size: 13px;
	font-weight: bolder;
	color: greenyellow;
	background-color: black;
}

#titulo {
	height: 60px;
	background: #2c1b3f;
	text-align: center;
}
