#binario {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
    height: 17px;
    overflow: hidden;
    text-align: center;
    font-size: 13px;
    font-weight: bolder;
    color: greenyellow;
    background-color: black;
}

#titulo {
    text-align: center;
    font-size: 3em;
    color: #87a8a8;
}

#subtitulo {
    text-align: center;
    color: #435454;
}

#navegacion {
    width: 100%;
    height: 140px;
    background-color: #87a8a8;
}

#portada {
    margin: auto;
    margin-top: 40px;
    min-width: 300px;
    max-width: 800px;
}

#portada IMG {
    width: 100%;
}

#presentacion {
    margin-top: 20px;
    text-align: center;
    font-family: urwBookmanL;
    font-weight: bolder;
    font-size: 1.2em;
    text-shadow:
    1px 1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    -1px -1px 1px black;
}
