<div class="content-fluid">
    <header id="main" class="row">
        <div id="boxlogo" class="align-middle col-lg-5 col-md-12 col-sm-12 col-xs-12">
            <figure id="logotipo" class="col-lg-4">
                <img src="assets/img/logotipo.png" alt="Logo" />
            </figure>
            <h1 id="sitetitle" class="col-lg-8">Raúl Caro Pastorino</h1>
        </div>

        <div id="btnMovil" class="col-lg-0 col-md-0 col-sm-0 col-xs-12">
          <span class="fa fa-bars"></span>
        </div>

        <nav class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <ul>
                <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <a [routerLink]="['/index']">Inicio</a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <a [routerLink]="['/proyect']">Proyectos</a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <a [routerLink]="['/collaboration']">Colaboro</a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <a [routerLink]="['/hobbies']">Aficciones</a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <a [routerLink]="['/contact']">Contacto</a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <a href="https://curriculum.fryntiz.es" alt="Curriculum Fryntiz">Curriculum</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
