<div class="content-fluid">

<!--=====================================
                HEADER
======================================-->
    <header id="main" class="row">
        <figure id="logotipo" class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <img src="assets/img/logotipo.png" alt="Logo" />
        </figure>

        <div class="col-lg-4 col-md-2 col-sm-1 col-xs-0">
            <br />
        </div>

        <div id="btnMovil" class="col-lg-0 col-md-0 col-sm-0 col-xs-12">
          <span class="fa fa-bars"></span>
        </div>

        <nav class="col-lg-6 col-md-7 col-sm-8 col-xs-0">
            <ul>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <a [routerLink]="['/index']">Inicio</a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <a href="#proyectos">Proyectos</a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <a href="#colaboraciones">Colaboraciones</a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <a href="#aficciones">Aficciones</a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <a [routerLink]="['/contact']">Contacto</a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <a href="https://curriculum.fryntiz.es" alt="Curriculum Fryntiz">Curriculum</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
