<div id="boxslide">
<slideshow  [imageUrls]="imageUrls"
            [debug]="slideConfig.debug"
            [height]="slideConfig.height"
            [minHeight]="slideConfig.minHeight"
            [autoPlay]="slideConfig.autoPlay"
            [autoPlayInterval]="slideConfig.autoPlayInterval"
            [autoPlayWaitForLazyLoad]="slideConfig.autoPlayWaitForLazyLoad"
            [arrowSize]="slideConfig.arrowSize"
            [showArrows]="slideConfig.showArrows"
            [disableSwiping]="slideConfig.disableSwiping"
            [backgroundSize]="slideConfig.backgroundSize"
            [backgroundPosition]="slideConfig.backgroundPosition"
            [backgroundRepeat]="slideConfig.backgroundRepeat"
            [showDots]="slideConfig.showDots"
            [dotColor]="slideConfig.dotColor"
            [showCaptions]="slideConfig.showCaptions"
            [captionColor]="slideConfig.captionColor"
            [captionBackground]="slideConfig.captionBackground"
            [lazyLoad]="slideConfig.lazyLoad">
</slideshow>
</div>
