<base href="/">
<!-- Muestro slide con imágenes relevantes -->
<app-slide></app-slide>

<ul id="boxtags" class="list-inline">
  <li class="tag list-inline-item" *ngFor="let x of getTags()">{{ x }}</li>
</ul>

<div id="presentacion" class="row">
  <div class="col-lg-12">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="" width="140" height="140">
    <h2 class="titulo">Presentación</h2>
    <p>
        Este es mi portal de presentación donde enlazo a mis contenidos, trabajos y colaboraciones.
    </p>

    <p>
        La tecnología está presente en mi vida desde que tengo uso de razón, tuve mi primer contacto apenas aprendiendo a leer ya que en casa tuvimos la suerte de tener ordenador desde bastante pronto.
    </p>

    <p>
        Actualmente me encuentro terminando de formarme mientras pongo en práctica todo lo que voy aprendiendo en pequeños trabajos y proyectos con otras personas que tienen los mismos gustos o intereses.
    </p>
    <p><a class="btn btn-secondary" href="#" role="button">+Info»</a></p>
  </div>

  <div class="col-lg-12">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2 class="titulo">Compromiso con la Libertad Digital</h2>
    <p>
        En mi compromiso con la libertad en el uso de cualquier forma de tecnología intento en toda medida de lo posible compartir código e información que ayude a otras personas a que descubrir esta necesidad.
    </p>

    <p>
        Usuario fiel a GNU/Linux desde hace más de una década habiendo usado con soltura las distribuciones:
    </p>
    <ul>
        <li>Suse Linux</li>
        <li>Mandrake</li>
        <li>Debian</li>
        <li>Fedora</li>
        <li>Gentoo</li>
        <li>Arch Linux</li>
    </ul>
    <p>
        Aún así donde mejor me desenvuelvo es Debian GNU/Linux
    </p>

    <p>
        He contribuido y aún contribuyo con diversas iniciativas, asociaciones, creando scrips que resuelvan situaciones, asesorando a nuevos usuarios e intentando resolver problemas a otros miembros de varias comunidades.
    </p>

    <p>
        Suelo difundir el compromiso social que ofrece <a hreg="debian.org">Debian GNU/Linux</a> en pro del código libre y una comunidad de usuarios que comparten información.
    </p>
    <p><a class="btn btn-secondary" href="#" role="button">+Info »</a></p>
  </div>

  <div class="col-lg-12">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">

    <h2 class="titulo">Aptitudes</h2>
    <p>
      descripción...
    </p>

    <p><a class="btn btn-secondary" href="#" role="button">+Info »</a></p>
  </div>

  <div class="col-lg-12">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2 class="titulo">Preferencias y visión de futuro</h2>
    <p>
      descripción...
    </p>

    <p><a class="btn btn-secondary" href="#" role="button">+Info »</a></p>
  </div>
</div>
