<base href="/">
<!-- Muestro slide con imágenes relevantes -->
<app-slide></app-slide>

<hr class="featurette-divider"/>

<section>
  <ul id="boxtags" class="list-inline col-lg-12">
    <li class="tag list-inline-item"
        *ngFor="let section of datos" (click)="scrollTo(section.id)">
        {{ section.title }}
    </li>
  </ul>
</section>

<hr class="featurette-divider col-lg-12" />

<div id="boxindex" class="row">
  <div [id]="section.id"
       class="indexsection col-lg-12"
       *ngFor="let section of datos">
    <div class="boxrounded">
      <img class="rounded-circle"
           [src]="section.img"
           [alt]="section.alt" />
    </div>

    <h2 class="titulo">{{ section.title }}</h2>

    <h3 class="subtitulo"
        *ngIf="section.subtitle !== undefined && section.subtitle !== ''">
      {{ section.subtitle }}
    </h3>

    <p *ngFor="let description of section.description">
      {{ description }}
    </p>

    <p *ngIf="section.url !== undefined && section.url !== ''">
      <a class="btn btn-secondary"
         [href]="section.url"
         [title]="section.alt"
         role="button">
        +Info»
      </a>
    </p>

    <hr class="featurette-divider col-lg-12" />
  </div>
</div>
