#boxcard img {
  margin: auto;
  max-width: 225px;
  display: block;
}

#boxcard h3 {
  text-align: center;
}

.sectioncard {
  padding: 0 5px;
  background-color: #fff;
}

.elementcard {
  padding: 3px;
  height: 550px;
}

/* Caja de texto interior, se hace scroll si es demasiado texto */
.descritpioncard {
  margin: 0;
  max-height: 170px;
  overflow-x: scroll;
}
