<aside id="boxaside">
    <section id="boxrepos">
        <h2>Repositorios</h2>
        <ul>
            <li><a href="https://gitlab.com/fryntiz" target="_blank">Gitlab</a></li>
            <li><a href="https://github.com/fryntiz" target="_blank">Github</a></li>
        </ul>
    </section>

    <section id="boxservices">
        <h2>Servicios</h2>
        <ul>
            <li><a href="#" target="_blank">Mumble</a></li>
            <li><a href="#" target="_blank">2</a></li>
            <li><a href="#" target="_blank">3</a></li>
            <li><a href="#" target="_blank">4</a></li>
        </ul>
    </section>

    <section id="boxsocial">
        <h2>Redes sociales</h2>
        <ul>
            <li><a href="https://twitter.com/fryntiz" target="_blank">Twitter: <strong>@fryntiz</strong></a></li>
            <li><a href="https://t.me/Fryntiz" target="_blank">Telegram Personal: <strong>fryntiz</strong></a></li>
            <li><a href="https://t.me/FryntizOpenDev" target="_blank">Telegram Canal con mi desarrollo <strong>https://t.me/FryntizOpenDev</strong></a></li>
            <li><a href="#" target="_blank">4</a></li>
        </ul>
    </section>
</aside>
