#boxaside {
    margin: 0 5px;
    padding: 5px 10px;
    font-weight: bold;
    color: white;
    border: 2px solid #000000;
    border-radius: 6px;
    box-shadow: 3px 3px 3px #000000;
    background-color: #333;
}

#boxContacto {
  padding: 10px;
  text-align: center;
}

#boxContacto a {
  width: 100%;
  font-weight: bold;
}

.boxsection img {
  margin: 3px;
  width: 25px;
  height: 25px;
}

#boxaside h2 {
  color: orange;
  text-align: center;
}

.sectionsubtitle {
  text-align: center;
}

#boxaside section {

}

#boxtags {
  text-align: center;
}

.tag {
  margin: 2px 4px;
  padding: 2px 6px;
  font-size: 1.2em;
  font-weight: bold;
  color: orange;
  background-color: #333;
  box-shadow: 2px 2px 3px #000;
}
