<aside id="boxaside">
    <section id="boxrepos">
        <h2>Repositorios</h2>
        <ul>
            <li><a href="#">Gitlab</a></li>
            <li><a href="#">Github</a></li>
        </ul>
    </section>

    <section id="boxservices">
        <h2>Servicios</h2>
        <ul>
            <li><a href="#">Mumble</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
        </ul>
    </section>

    <section id="boxsocial">
        <h2>Redes sociales</h2>
        <ul>
            <li><a href="#">Twitter: <strong>@fryntiz</strong></a></li>
            <li><a href="#">Telegram: <strong>fryntiz</strong></a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
        </ul>
    </section>
</aside>
