Options +FollowSymlinks
RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.fryntiz\.es
RewriteRule ^ https://fryntiz.es%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^http:\/\/www\.fryntiz\.es
RewriteRule ^ https://fryntiz.es%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^http:\/\/fryntiz\.es
RewriteRule ^ https://fryntiz.es%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^https:\/\/www\.fryntiz\.es
RewriteRule ^ https://fryntiz.es%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^https://www\.fryntiz\.es
RewriteRule ^ https://fryntiz.es%{REQUEST_URI} [L,R=301]
